/* ================================= 
  Flexbox Styles
==================================== */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
   
}

.player {
 flex: 0 1 auto;
 align-self: stretch;
}

/* ================================= 
  Media Queries
==================================== */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
    
  }
}

@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    flex-flow: row; /*removes from wrap so all items will be on one line at largest size*/
    
  }
}