/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box;
  letter-spacing: .15rem;
  font-family: "Sigmar One", cursive;
}

body {
  background-color: firebrick;
 
}  

header {
    text-align: center;
    font-size: 2rem;
    background: darkred;
    border: .75rem solid black;
    width: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    
}

h1, h2, .player, footer {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

footer {
  color: whitesmoke;
  position: relative;
  text-align: center;
  font-size: .8rem;
}

a {
  color: lightgreen;
  text-decoration: none;
}
  
.container, h2 {
    color: whitesmoke;
    background-color: firebrick;
    height: 100%;
    width: 100%;
    padding-left: 5%;
	  padding-right: 5%;
}

.container {
	background: firebrick;
  border-radius: 1.5em;
 }

.player {
	color: whitesmoke;
	padding: 1em;
	margin: 1em;	
	background: darkred;
	border-radius: 1.5em;
  border: black solid .25em;
}

.pudding {
  color: pink;
}

.final {
  color: lightgreen;
}
     
/* ================================= 
  Media Queries
==================================== */

