/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box;
  letter-spacing: .15rem; /*made font more legible*/
  font-family: "Sigmar One", cursive;
 }

body {
  background-color: #420600;  
  
}  

header {
  text-align: center;
  font-size: 2em;
  background: darkred;
  border: .25rem solid black;
  border-radius: 1.5em;
  width: 85%;
  padding: auto;
  margin: auto;
  color: whitesmoke;   
}

h1, label, .player, footer /*adds black outline to text making it more visible*/ {
  text-shadow: -.1rem 0 black, 0 .1rem black, .1rem 0 black, 0 -.1rem black;
}

h1 {
  text-align: center;
}

input /*styles the input fields to make them round and smaller*/ {
  color:black;
  background-color: whitesmoke;
  border: solid black;
  border-radius: 1.5em;
  font-size: 1em;
  /*max-height: 2.25em;
  width: 9em;*/
  text-align: center; 
  
}

label /*styles number of players*/{
  color: whitesmoke;    
}

#player_count /*styles the dropdown box*/ {
  color:black;
  background-color: whitesmoke;
}

.choose_player_count /*styles the header "Number of Players"*/{
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
  background-color: #420600;
}

.pudding {
  color: pink; 
}

.score, a {
  color: lightgreen;
}

input:focus,
textarea:focus {
  border-color: lightgreen;
}


footer /*Sticky footer and color styles*/ {
  color: whitesmoke;
  position: relative;
  text-align: center;
  font-size: 1rem;
  margin-top: auto;
}

a /*removes underline from link in footer*/ {
  text-decoration: none;
}

/* ================================= 
  Flexbox Styles
==================================== */

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #420600;
  border-radius: 1.5em;
  
}

.player {
  flex: 0 1; /*keeps all player boxes the same size*/
  color: whitesmoke; 
	padding: 1.5em;
	margin: 0;	
	background: darkred;
  border-radius: 1.5em;
  border: black solid .25em;
  text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 769px) {
  .container {
    flex-flow: row wrap;
    }
}
