/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box;
  letter-spacing: .15rem; /*made font more legible*/
  font-family: "Sigmar One", cursive;
 }

body {
  background-color: #41210a;  
  color: white;
}  

header {
  text-align: center;
  font-size: 2em;
  background: center repeat-x firebrick url(../caryn-patterson-front-end-project/images-sushi-go/SushiGo-Pudding.png);
  background-size: 175px;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
    url(../caryn-patterson-front-end-project/images-sushi-go/SushiGo-Pudding.png);
  border: .25rem solid black;
  border-radius: 1.5em;
  width: 85%;
  padding: auto;
  margin: auto;
  color: white;  
}

#player_count /*styles the dropdown box*/ {
  color:black;
  background-color: whitesmoke;
  border-radius: .3em;
}

#player_count:hover {
  background-color: white;
  cursor: pointer;
}

#PlayerCountButton {
  border-radius: .3em;
  background-color: #950303;
  color: white;
}

.choose_player_count /*styles the header "Number of Players"*/{
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  background-color: #41210a;
}

.score {
  color: #593f33;
  font-size: 1.5rem;
}

input /*styles the input fields to make them round and smaller*/ {
  color:black;
  background-color: #ece3d1;
  border: solid #593f33;
  border-radius: 1em;
  font-size: 1em;
  text-align: center;   
}

input:focus,
textarea:focus {
  border-color: darkred;
  background-color: white;
  outline: none;
}

#Player1 {
  background-color: #acd422;
  color: white;
}

#P1button {
  border-radius: 1em;
  background-color: #e08e66;
  color: white;
}

#Player2 {
  background-color: #8e99b7;
  color: white;
}

#P2button {
  border-radius: 1em;
  background-color: #cacd4c;
  color: white;
}

#Player3 {
  background-color: #b089a9;
  color: white;
}

#P3button {
  border-radius: 1em;
  background-color: #e09c1d;
  color: white;
}

#Player4 {
  background-color: #dcc750;
  color: white;
}

#P4button {
  border-radius: 1em;
  background-color: #968E0B;
  color: white;
}

#Player5 {
  background-color: #e6b1ab;
  color: white;
}

#P5button {
  border-radius: 1em;
  background-color: #a02f18;
  color: white;
}

a:hover,
.buttons:hover {
  filter: brightness(120%);
  cursor: pointer;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,5);
}

footer /*Sticky footer and color styles*/ {
  color: #ece3d1;
  position: relative;
  text-align: center;
  font-size: 1em;
  margin-top: auto;
}

a {
  color: #acd422;
  text-decoration: none;
}

/* ================================= 
  Flexbox Styles
==================================== */

.container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background: #41210a;
  border-radius: 1.5em;
  
}

.player {
  flex: 0 1; /*keeps all player boxes the same size*/
  color: #ece3d1; 
	padding: 1.5em;
	margin: 0;	
	background: darkred;
  border-radius: 1.5em;
  border: black solid .25em;
  text-align: center;
}

/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 769px) {
  .container {
    flex-flow: row wrap;
    }
}
