/* ================================= 
  Base Styles
==================================== */
* {
  box-sizing: border-box;
  letter-spacing: .15rem; /*made font more legible*/
  font-family: "Sigmar One", cursive;
 }

body {
  background-color: firebrick;
  
}  

header {
    text-align: center;
    font-size: 2rem;
    background: darkred;
    border: .75rem solid black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    
}

h1, label, .player, footer /*adds black outline to text making it more visible*/ {
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

footer {
  color: whitesmoke;
  position: relative;
  text-align: center;
  font-size: .8rem;
}

a {
  text-decoration: none;
}

input /*styles the input fields to make them round and smaller*/ {
  color:black;
  background-color: whitesmoke;
  border: solid black;
  border-radius: 1.5em;
  font-size: 1.25em;
  max-height: 2.25em;
  max-width: 9em;
  text-align: center;
  
}

label /*styles number of players*/{
    color: whitesmoke;
    
}

#player_count /*styles the dropdown box*/ {
  color:black;
  background-color: whitesmoke;
}

.choose_player_count /*styles the header "Number of Players"*/{
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
  background-color: firebrick;
}

.container /*CSS style for flexbox container*/ {
	background: black;
  border-radius: 1.5em;
}

.player /*styles "rounds" text inside flex item*/{
	color: whitesmoke;
	padding: 1em;
	margin: 1em;	
	background: darkred;
	border-radius: 1.5em;
  border: black solid .25em;
} 

.pudding {
  color: pink;
  
}

.score {
  color: lightgreen;
}

.final, a /*CSS style for final score & link*/ {
  color: lightgreen;
}
     
/* ================================= 
  Media Queries
==================================== */

